
{% extends 'layout.html' %}

{% block title %}
    Become an Author
{% endblock %}

{% block content %}

<h1 class="display-1">
    Become an Author at Library-Stories
</h1>
<p class="f-3" style="font-size:25px;">Are you sure you want to Become An Author at Library-Stories by Paying a Subscription Fees of &#8377;3000 ?</p>
<p class="f-4" style="font-size:25px;">Perks:<br></p>
<p class="f-4" style="font-size:25px; margin-left:20px;">
    1.You will be able to publish/suggest your own books to Admin.<br>
    2.Your Maximum Book Borrow Limit will be increased to 10 Books.<br>
    3.You will be able to see the Reviews of your Books.<br>
    Etc.
</p>

<form action="" method="post" class="form">
    <div align="center">
    <button type="submit" class="btn btn-success"  style="font-size:15px; border-radius:30px">
        <i class="fas fa-user-plus    "></i>
        Become An Author
    </button></div>
</form>
<div align="center"><br>
    <a href="{{url_for('profile')}}" class="btn btn-danger" style="border-radius:30px; font-size:15px">
        <i class="fa fa-reply" aria-hidden="true"></i>
        Return To your Profile
    </a>
</div>

{% endblock %}