
{% extends 'layout.html' %}

{% block title %}
    Return Borrowed Book
{% endblock %}

{% block content %}

<h1 class="display-1">
    Return Borrowed Book
</h1>
<p class="f-3" style="font-size:25px;">Are you sure you want to Return Book {{book.title}}?</p>

<form action="" method="post" class="form">
    <div align="center">
    <button type="submit" class="btn btn-danger"  style="font-size:15px; border-radius:30px">
        <i class="fas fa-arrow-left    "></i>
       Return Book
    </button></div>
</form>

{% endblock %}