
{% extends 'layout.html' %}

{% block title %}
     BlackList User Account
{% endblock %}

{% block content %}

<h1 class="display-1">
    Blacklist User's Account
</h1>
<p class="f-3" style="font-size:25px;">Are you sure you want to Blacklist <b>@{{ users.username }}</b> User's Account ?</p>

<form action="" method="post" class="form">
    <div class="form-group">
        <label for="reason" class="form-label" style="font-size: 25px;">Your Reason:</label>
        <input type="text" name="reason" placeholder="Type Reason For Blacklisting the user" maxlength="128" id="reason" class="form-control" required style="border-radius:60px">
    </div><br>
    <div class="form-group">
        <label for="till" class="form-label" style="font-size: 25px;">No of Days Blacklisted:</label>
        <input type="number" name="till" placeholder="Type No of Days User is Blacklisted" id="till" max="365" min="1" class="form-control" required style="border-radius:60px">
    </div><br>
    <div align="center">
    <button type="submit" class="btn btn-danger"  style="font-size:15px; border-radius:30px">
        <i class="fas fa-ban    "></i>
        Confirm Blacklist User's Account
    </button></div>
</form>

{% endblock %}