
{% extends 'layout.html' %}

{% block title %}
    Delete BlackListed User Account
{% endblock %}

{% block content %}

<h1 class="display-1">
    Delete User's Account
</h1>
<p class="f-3" style="font-size:25px;">Are you sure you want to delete Blacklisted {{ users.username }} User's Account ?</p>

<form action="" method="post" class="form">
    <div class="form-group">
        <label for="pass" class="form-label" style="font-size: 25px;">Your Admin Password:</label>
        <input type="text" name="pass" placeholder="Type your Admin Password to Confirm this deletion!" id="pass" class="form-control" required style="border-radius:60px">
    </div><br>
    <div align="center">
    <button type="submit" class="btn btn-danger"  style="font-size:15px; border-radius:30px">
        <i class="fas fa-trash    "></i>
        Confirm Delete User's Account
    </button></div>
</form>

{% endblock %}