{% extends 'layout.html' %}

{% block title %}
    My Book Reviews Dashboard
{% endblock %}

{% block content %}
<h1 class="display-1">My Book Reviews Dashboard</h1>
<div align="right">
<a href="{{url_for('mybooks')}}" class="btn btn-success" style="border-radius:30px" >
    <i class="fas fa-reply" aria-hidden="true"   ></i>
    Go Back
</a></div>
<h2>My Book Reviews:</h2>
{% if count > 0 %}
<table class="table">
    <thead>
        <tr><div class="heads">
            <th>Review No</th>
            <th>Section Name</th>
            <th>Book Title</th>
            <th>Book Author</th>
            <th>Ratings</th>
            <th>Actions</th></div>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        {% if review.is_rated %}
        <tr><div class="heads">
            <td>{{ loop.index }}</td>
        {% for section in sections %}
            {% for book in books %}
            {% if book.id == review.book_id %}
            {% if section.id == book.section_id %}
                <td>{{section.name}}</td>
                <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            {% endif %}
            {% endif %}
        {% endfor %}
        {% endfor %}
            <td>{{review.ratings}}</td>
            <td><div class="buttons">
                <a href="{{url_for('view_review',review_id=review.id)}}" class="btn btn-info" style="border-radius:30px">
                    <i class="fas fa-eye" aria-hidden="true"   ></i>
                    Show Review
                </a>
                <a href="{{url_for('edit_review',review_id=review.id)}}" class="btn btn-success" style="border-radius:30px">
                    <i class="fas fa-pencil-square" aria-hidden="true"   ></i>
                    Edit Review
                </a>
                <form method="post" action="{{url_for('delete_review_post', review_id=review.id)}}">
                    <button type="submit" class="btn btn-danger" style="border-radius:30px;">
                        <i class="fa fa-trash" aria-hidden="true"></i>  Delete Review
                    </button>
                </form>
                </div>
            </td></div>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<div class="totals" align="right">
    <span class="badge badge-pill" style="border-radius:30px;background:rgb(0, 88, 150)"> Total Books Reviews: {{ count }}</span>
</div> 
{% else %}
    <div class="alert alert-info" style="border-radius: 20px;">
        <h3>No Book Reviews </h3>
    </div>
{% endif %}
{% endblock %}

{% block style %}
<style>
    .buttons {
        display: flex;
        justify-content: space-around;
        font-size: 10px;
    }
    .heads {
        justify-content: space-around;
    }
    .buttons1 {
        display: flex;
        margin-right: 10px;
        font-size: 10px;
    
    }
</style>

{% endblock %}