{% extends 'layout.html' %}

{% block title %}
    Books of Section {{section.name}}
{% endblock %}

{% block content %}

<h1 class="display-1">
    Book Section {{section.name}}
</h1>
<div class="sections_add">
    <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-start">
                <div><br>
                    <h2 class="display-2">Books:</h2>
                </div>
            </div>
            <div>
                <br>
                <div>
                    <a href="{{url_for('add_book', section_id=section.id)}}" class="btn btn-success" style="margin-top:40px; border-radius:30px; font-size:20px">
                        <i class="fas fa-plus   "></i> 
                        Add
                    </a>
                    <a href="{{url_for('admin')}}" class="btn btn-success" style="margin-top:40px; border-radius:30px; font-size:20px">
                        <i class="fa fa-reply" aria-hidden="true"></i>
                        Go Back
                    </a>
                </div>
            </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Book ID</th>
            <th>Book Title</th>
            <th>Book Publisher</th>
            <th>Book Author</th>
            <th>Book Added on</th>
            <th>Book Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in section.books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.author}}</td>
            <td>{{book.date_added}}</td>
            <td>&#8377; {{book.price}}</td>
            <td>
                <a href="{{url_for('ad_show_book', id=book.id)}}" class="btn btn-primary" style="border-radius:30px">
                    <i class="fas fa-eye    "></i>
                    View
                </a>
                <a href="{{url_for('edit_book', id=book.id)}}" class="btn btn-warning" style="border-radius:30px">
                    <i class="fas fa-edit    "></i>
                    Edit
                </a>
                <a href="{{url_for('delete_book', id=book.id)}}" class="btn btn-danger" style="border-radius:30px">
                    <i class="fas fa-trash    "></i>
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="totals" align="right">
    <span class="badge badge-pill" style="border-radius:30px;background:rgb(0, 88, 150)"> Total Books: {{ section.books|length }}</span>
</div>    
{% endblock %}

{% block style %}
    <style>
        .heading{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    </style>
{% endblock %}