{% extends 'layout.html' %}

{% block title %}
    Delete Book Section
{% endblock %}

{% block content %}

<h1 class="display-1">
    Delete Book Section
</h1><br>
<p class="f-1" style="font-size:25px">Are you sure you want to delete Book Section <b>{{section.name}}</b> ? </p>

<form action="" method="post" class="form">
    <div align="center"><br>
    <button type="submit" class="btn btn-danger" style="font-size:20px; border-radius:30px">
        <i class="fas fa-trash    "></i>
        Delete
    </button>
    </div>

</form>

{% endblock %}