{% extends 'layout.html' %}

{% block title %}
  Author Book Approval Dashboard
{% endblock %}

{% block content %}
<h1 class="display-1">Author Book Approval Dashboard</h1>

<h2>Pending Author Book Approvals:</h2>
{% if count >0 %}
<table class="table">
    <thead>
        <tr><div class="heads">
            <th>Request ID</th>
            <th>Section Name</th>
            <th>Book Title</th>
            <th>Book Author</th>
            <th>Book Publisher</th>
            <th>Actions</th></div>
        </tr>
    </thead>
    <tbody>
        {% for book in author_books %}
        <tr>{% if not book.is_rejected %}
            <td>{{book.id}}</td>
            <td>{{book.sections}}</td>
            <td>{{book.title}}</td>
        {% for users in users %}
            {% if users.id == book.user_id %}
                <td>{{users.username}}</td>
            {% endif %}
        {% endfor %}
        <td>{{book.publisher}}</td>
            <td><div class="buttons">
                <a href="{{url_for('admin_author_show', suggest_id=book.id)}}" class="btn btn-primary" style="border-radius:30px">
                    <i class="fas fa-eye" aria-hidden="true"   ></i>
                    Show Book
                </a>
                <form method="post" action="{{url_for('admin_author_approve', suggest_id = book.id)}}">
                    <button type="submit" class="btn btn-success" style="border-radius:30px;">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> Approve Book
                    </button>
                </form>
                <form method="post" action="{{url_for('admin_author_reject',suggest_id = book.id)}}">
                    <button type="submit" class="btn btn-danger" style="border-radius:30px;">
                        <i class="fa fa-times" aria-hidden="true"></i> Reject Book
                    </button>
                </form>
                </div>
            </td>
        </tr>{% endif %}
        {% endfor %}
    </tbody>
</table>
<div class="totals" align="right">
    <span class="badge badge-pill" style="border-radius:30px;background:rgb(0, 88, 150)"> Total Pending Approvals: {{ count }}</span>
</div>    
{% else %}
<div class="alert alert-info" style="border-radius: 20px;">
    <h3>No Pending Author Books Approval Requests</h3>
</div>
{% endif %}

{% endblock %}

{% block style %}
<style>
    .buttons {
        display: flex;
        justify-content: space-around;
    }
    .heads {
        justify-content: space-around;
    }
</style>
{% endblock %}