{% extends 'layout.html' %}

{% block title %}
   Show Book Review
{% endblock %}

{% block content %}

<h1>Showing @{{user.username}} Book Review:</h1>
<div align="right">
    <a href="{{url_for('myreviews')}}" class="btn btn-success" style="border-radius:30px" >
        <i class="fas fa-reply" aria-hidden="true"   ></i>
        Go Back
    </a></div>
    <br>
<div>
    <div>
        <h2>Book Title: {{books.title}}</h2>
        <h2>Book Author: {{books.author}}</h2>
        <h2>Book Section: {{sections.name}}</h2>
        <h2>Book Ratings: {{reviews.ratings}}
            [{% for i in range(reviews.ratings) %}
                                        <i class="fa fa-star" aria-hidden="true"></i>  
            {% endfor %}]
        </h2>
        <h2>Book Review: {{reviews.review}}</h2>
        <h2>Book Review Date: {{reviews.date_created}}</h2>
    </div>


</div>


{% endblock %}