
{% extends 'layout.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
 <div> 
    <h1 align="center"> Welcome To Library-Stories</h1>
</div>

<h2 class="display-3" align="center">Login Portal</h2>

<form action="" class="form" method="post">
    <div class="form-group">
        <label for="username" class="form-label" style="font-size: 25px;">UserName</label> 
        <input type="text" name="username" placeholder="Enter your Username" required class="form-control" style="border-radius: 60px;">
    </div>
    <div class="form-group">
        <label for="password" class="form-label" style="font-size: 25px;">Password</label>
        <input type="password" name="password" placeholder="Enter your Password" required class="form-control" style="border-radius: 60px;">
    </div><br>
    <div class="form-group" align="center"> 
        <input type="submit" value="Login" class="btn btn-primary", style="background-color: purple; border-radius: 30px; font-size: 20px">
    </div>
</form>
    
{% endblock %}
