{% extends 'layout.html' %}

{% block title %}
    Register Page
{% endblock %}
{% block content %}
<div>
    <h1 align="center"> Welcome To Library-Stories</h1>
<h2 class="display-3 " align="center">Register Portal</h2>

<form action="" class="form" method="post">
    <div class="form-group">
        <label for="username" class="form-label" style="font-size: 20px;">Username</label>
        <input type="text" name="username" placeholder="Type your Username" required class="form-control" style="border-radius: 60px;">
    </div>
    <div class="form-group">
        <label for="password" class="form-label" style="font-size: 20px;">Password</label>
        <input type="password" name="password" placeholder="Type your password" required class="form-control" style="border-radius: 60px;">
    </div>
    <div class="form-group">
        <label for="confirm_password" class="form-label" style="font-size: 20px;">Confirm Password</label>
        <input type="password" name="confirm_password" placeholder="Retype your password" required class="form-control" style="border-radius: 60px;">
    </div>
    <div class="form-group">
        <label for="name" class="form-label" style="font-size: 20px;">Name</label>
        <input type="text" name="name" placeholder="Type your Name" required class="form-control" style="border-radius: 60px;">
    </div>
    <div class="form-group">
        <label for="email" class="form-label" style="font-size: 20px;">E-mail</label>
        <input type="text" name="email" placeholder="Type your Email address (OPTIONAL)" class="form-control" style="border-radius: 60px;">
    </div><br>
    <div class="form-group"><br>
        <input type="checkbox" class="form-check-input" name="isterms" id="isterms" style="margin-top:7px">
        <label class="form-check-label" for="isterms" style="font-size: 20px; margin-bottom:5px">I accept <a href="{{url_for('terms')}}">Terms & Conditions and Privacy Policy.</a></label>
    </div><br>
    
    <div class="form-group" align="center">
        <input type="submit" value="Register" class="btn btn-primary" style="background-color: purple; border-radius: 30px; font-size: 20px;" >
    </div>
</form>
{% endblock %}