<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="GET">
                <div class="input-group">
                    <select name="parameter" id="parameter" class="parameter" style="width: 250px; border-color:black; border-width: 2px; border-radius:6px;">
                        <option value="section">Section</option>
                        <option value="ebook">E-Book</option>
                        <option value="author">Author</option>
                        <option value="publisher">Publisher</option>
                        <option value="price">Price</option>
                    </select>
                    
                    <input type="text" name="searchpara" id="searchpara" value="{{searchpara}}" class="form-control" placeholder="Search Item" sytle="border-radius:20px;">

                    <a href="{{url_for('index')}}" class="btn btn-outline-danger" sytle="border-radius:10px;">
                        <i class="fas fa-backspace    "></i>
                        Clear
                    </a>
                    <button class="btn btn-outline-primary" type="submit" sytle="border-radius:10px;"> 
                        <i class="fa fa-search"></i>
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>