{% extends 'layout.html' %}

{% block title %}
    Admin Statistics Dashboard
{% endblock %}

{% block content %}
<div class="title_back">
  <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-start">
              <div>
                  <h1 style="margin-left:5px"><b>Summary Statistics:</b> </h1>
              </div>
          </div>
          <div class="goback" >
              <a href="{{url_for('admin')}}" class="btn btn-success" style="margin-top:20px; border-radius:30px; font-size:20px">
                  <i class="fa fa-reply" aria-hidden="true"></i>
                  Go Back
              </a>
          </div>
  </div>
</div>
<div>
  <div class="d-flex justify-content-between">
          <div>
              <br>
              <div>
                 <img src="/static/charts/admin/noofbooks.png" alt="Total Books" style="width: 100%; height: auto;">
              </div>
          </div>
          <div class="vl"></div>
          <div>
            <br>
            <div>
               <img src="/static/charts/admin/noofusers.png" alt="Total Books" style="width: 100%; height: auto;">
            </div>
        </div>
</div>
</div>
<hr class="solid">
<div>
  <div class="d-flex justify-content-between">
          <div>
              <br>
              <div>
                 <img src="/static/charts/admin/topbooks.png" alt="Total Books" style="width: 100%; height: auto;">
              </div>
          </div>
          <div class="vl"></div>
          <div>
            <br>
            <div>
               <img src="/static/charts/admin/topsections.png" alt="Total Books" style="width: 100%; height: auto;">
            </div>
        </div>
</div>
</div>
<style>
  .vl {
    border-left: 2px solid black;
    height: 600px;
  }
  hr.solid {
    border-top: 5px solid #bbb;
  }
</style>

{% endblock %}






