{% extends 'layout.html' %}

{% block title %}
    Author @{{user.usename}} Books
{% endblock %}

{% block content %}

<h1 class="display-1">
    Author @{{user.username}} Books Dashboard
</h1>
<div class="sections_add">
    <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-start">
                <div><br>
                    <h2>Pending Suggested Books for Approval:</h2>
                </div>
            </div>
            <div>
                <br>
                <div>
                    <a href="{{url_for('suggest')}}" class="btn btn-success" style=" border-radius:30px; font-size:20px">
                        <i class="fas fa-plus   "></i> 
                        Suggest Book
                    </a>
                    <a href="{{url_for('index')}}" class="btn btn-success" style=" border-radius:30px; font-size:20px">
                        <i class="fa fa-reply" aria-hidden="true"></i>
                        Go Back
                    </a>
                </div>
            </div>
    </div>
</div>

{% if count > 0  %}
<table class="table">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Book Title</th>
            <th>Book Publisher</th>
            <th>Book Section</th>
            <th>Book Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in author_books %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{book.title}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.sections}}</td>
            <td>&#8377; {{book.price}}</td>
            <td>
                <a href="{{url_for('author_show', suggest_id=book.id)}}" class="btn btn-primary" style="border-radius:30px;margin-right:10px">
                    <i class="fas fa-eye    "></i>
                    View Suggested Book
                </a>
                <a href="{{url_for('delete_suggest', suggest_id=book.id)}}" class="btn btn-danger" style="border-radius:30px">
                    <i class="fas fa-trash    "></i>
                    Remove Suggested Book
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-info" style="border-radius: 20px;margin-top:10px;">
       <h3>No Books Suggested</h3>
    </div>
{% endif %}


<h2 style="margin-top:200px;">Approved Suggested Books:</h2>
{% if counts > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Book Title</th>
            <th>Book Publisher</th>
            <th>Book Section</th>
            <th>Book Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{book.title}}</td>
            <td>{{book.publisher}}</td>
            {% for section in sections %}
                {% if section.id == book.section_id %}
                    <td>{{section.name}}</td>
                {% endif %}
            {% endfor %}
            <td>&#8377; {{book.price}}</td>
            <td>
                <a href="{{url_for('view_book', id=book.id)}}" class="btn btn-primary" style="border-radius:30px">
                    <i class="fas fa-eye    "></i>
                    View Approved Book
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-info" style="border-radius: 20px;margin-top:10px;">
        <h3>No Suggested Books Approved</h3>
    </div>
{% endif %}


{% endblock %}

{% block style %}
    <style>
        .heading{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    </style>
{% endblock %}