{% extends 'layout.html' %}

{% block content %}
<h1 class="display-1">Cart</h1>
<hr>

{% if carts|length > 0 %}
    
<table class="table">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Book Author</th>
            <th>Book Section</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for cart in carts %}
        <tr>
            <td>{{cart.book.title}}</td>
            <td>{{cart.book.author}}</td>
            {% for sec in sections %}
                {% if cart.book.section_id == sec.id %}
                    <td>{{ sec.name }}</td>
                {% endif %}
            {% endfor %}
            <td>{{cart.book.price}}</td>
            <td>
                <form action="{{url_for('delete_cart', id=cart.id)}}" method="post">
                    <button class="btn btn-danger" style="border-radius:30px;">
                        <i class="fas fa-trash"></i>
                        Remove
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"><strong>Total: </strong></td>
            <td>{{total}}</td>
            <td>
                <form action="{{url_for('checkout')}}" method="post">
                    <button class="btn btn-success" style="border-radius:30px;">
                        <i class="fas fa-shopping-cart"></i>
                        Checkout
                    </button>
                </form>
            </td>
        </tr>
    </tfoot>
</table>
<div class="totals" align="right">
    <span class="badge badge-pill" style="border-radius:30px;background:rgb(0, 88, 150)"> Total Items: {{ carts|length }}</span>
</div> 
{% else %}
    <div class="alert alert-info">
        <h2>Cart is Empty</h2>
    </div>
{% endif %}
{% endblock %}

{% block style %}

{% endblock %}