{% extends 'layout.html' %}

{% block title %}
    My Favorite Books Dashboard
{% endblock %}

{% block content %}
<h1 class="display-1">My Favorite Books Dashboard</h1>
<div align="right">
<a href="{{url_for('mybooks')}}" class="btn btn-success" style="border-radius:30px" >
    <i class="fas fa-reply" aria-hidden="true"   ></i>
    Go Back
</a></div>
<h2>Favorite Books:</h2>
{% if  favorites|length > 0 %}
<table class="table">
    <thead>
        <tr><div class="heads">
            <th>S.No</th>
            <th>Section Name</th>
            <th>Book Title</th>
            <th>Book Author</th>
            <th>Actions</th></div>
        </tr>
    </thead>
    <tbody>
        {% for favorite in favorites %}
        {% if favorite.is_favourite %}
        <tr><div class="heads">
            <td>{{ loop.index }}</td>
        {% for section in sections %}
            {% for book in books %}
            {% if book.id == favorite.book_id %}
            {% if section.id == book.section_id %}
                <td>{{section.name}}</td>
                <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            {% endif %}
            {% endif %}
        {% endfor %}
        {% endfor %}
            <td><div class="buttons">
                <a href="{{url_for('view_book',id=favorite.book_id)}}" class="btn btn-info" style="border-radius:30px">
                    <i class="fas fa-eye" aria-hidden="true"   ></i>
                    Show Book
                </a>
                <form method="post" action="{{url_for('delete_favorite', favorite_id=favorite.id)}}">
                    <button type="submit" class="btn btn-danger" style="border-radius:30px;">
                        <i class="fa fa-minus" aria-hidden="true"></i>  Remove Book
                    </button>
                </form>
                </div>
            </td></div>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<div class="totals" align="right">
    <span class="badge badge-pill" style="border-radius:30px;background:rgb(0, 88, 150)"> Total Favorite Books: {{ favorites|length }}</span>
</div>    
{% else %}
    <div class="alert alert-info" style="border-radius: 20px;">
        <h3>Favorite Books List is Empty</h3>
    </div>
{% endif %}
{% endblock %}

{% block style %}
<style>
    .buttons {
        display: flex;
        justify-content: space-around;
        font-size: 10px;
    }
    .heads {
        justify-content: space-around;
    }
    .buttons1 {
        display: flex;
        margin-right: 10px;
        font-size: 10px;
    
    }
</style>

{% endblock %}